/* Add your own custom styles here */
.prose-justify {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
  }

/* Fixed navbar anchor offset */
h1[id], h2[id], h3[id], h4[id], h5[id], h6[id] {
  scroll-margin-top: 100px;
}