<a class="card post-card" href="{{ .RelPermalink }}" title="{{ .Title }}">
  {{ $image := .Resources.GetMatch "**.jpg" }}
  {{ $cover := .Resources.GetMatch "**cover*" }}
  {{ if $cover }}
  {{ $image = $cover }}
  {{ end }}

  {{ with .Params.resources }}
  {{ range . }}
  {{ if .params.cover }}
  {{ $coverResource := $.Resources.GetMatch .src }}
  {{ if $coverResource }}
  {{ $image = $coverResource }}
  {{ end }}
  {{ end }}
  {{ end }}
  {{ end }}

  {{ if $image }}
  <figure>
    <img class="lazyload" data-src="{{ $image.RelPermalink }}" alt="{{ .Title }}" />
  </figure>
  {{ else if .Params.featured_image }}
  <figure>
    <img src="{{ .Params.featured_image | relURL }}" alt="{{ .Title }}" />
  </figure>
  {{ end }}
  <div class="card-content">
    <h2>{{ .Title }}</h2>
    <p class="post-summary">{{ .Summary | truncate 150 }}</p>
    <p class="post-meta">
      <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">
        {{ .Date.Format "2006.01.02" }}
      </time>
    </p>
  </div>
</a>